# CODEOWNERS
# Global owners: Default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner will be requested for review when
# someone opens a pull request.
* @sujeily-fonseca @zhengyi